.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 100%;      /* FULL HEIGHT FIX */
    width: 100%;

}


/* Premium Gradient Box */
.counter-box {
    width: 420px;
    padding: 40px 35px;
    border-radius: 22px;

    /* Gradient background */
    background: linear-gradient(135deg, #504c4c, #f5f5f5, #e9e9e9);

    /* Glow shadow */
    box-shadow: 
        0 8px 25px rgba(0, 0, 0, 0.15),
        0 0 25px rgba(255, 182, 90, 0.2);

    text-align: center;
}

/* Heading styling */
.counter-box h1 {
    font-size: 32px;
    font-weight: 700;
    color: #333;
}

/* Buttons container */
.counter {
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* Buttons */
.counter button {
    padding: 16px 24px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;

    background: linear-gradient(135deg, #000000, #333333);
    color: white;

    transition: 0.3s ease;
}

/* Hover effect */
.counter button:hover {
    background: linear-gradient(135deg, #ffe5c2, #ffcf91);
    color: #000;
    transform: translateY(-4px);
    box-shadow: 0 5px 20px rgba(255, 171, 64, 0.4);
}

/* Active click effect */
.counter button:active {
    transform: scale(0.94);
}
